
.page-title{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.margin-right-20px{
  margin-right: 20px !important ;
}

.link{
  cursor: pointer;
  color: blue !important;
}

.center{
  margin: auto !important;
}

.center-align-loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}